.post {
  border: 1px solid rgb(230, 230, 230);
  width: 640px;
  margin: 100px auto;
  border-radius: 8px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.profile-pic {
  border-radius: 100px;
  width: auto;
  height: 35px;
  margin-right: 10px;
}

.main-username {
  font-size: 1rem;
}

.likes {
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}

.post .feather {
  justify-content: left;
  margin-right: 580px;
  margin-top: 10px;
}

.post .feather:active {
  fill: rgb(255, 72, 72);
  stroke: rgb(255, 72, 72);
}
