.searchbar {
  background-color: #fafafa;
  border-bottom: 1px solid rgb(187, 187, 187);
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
}

.search {
  width: 250px;
  height: 28px;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 211);
  background-color: #fafafa48;
}

input::placeholder {
  padding-left: 10px;
  text-align: center;
  font-weight: bold;
  color: rgb(173, 173, 173);
}

.ig-logo {
  width: auto;
  height: 30px;
}

.profile {
  width: auto;
  height: 40px;
}
.activity-icons {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.activity-icons svg {
  color: grey;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.activity-icons svg:hover {
  transition: 0.3s ease-in-out;
  color: rgb(36, 36, 36);
}
